@font-face {
    font-family: 'Alegreya Sans';
    src: url(../../assets/fonts/Alegreya_Sans/AlegreyaSans-Black.ttf),
            url(../../assets/fonts/Alegreya_Sans/AlegreyaSans-BlackItalic.ttf),
            url(../../assets/fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf),
            url(../../assets/fonts/Alegreya_Sans/AlegreyaSans-BoldItalic.ttf),
            url(../../assets/fonts/Alegreya_Sans/AlegreyaSans-ExtraBold.ttf),
            url(../../assets/fonts/Alegreya_Sans/AlegreyaSans-ExtraBoldItalic.ttf),
            url(../../assets/fonts/Alegreya_Sans/AlegreyaSans-Italic.ttf),
            url(../../assets/fonts/Alegreya_Sans/AlegreyaSans-Light.ttf),
            url(../../assets/fonts/Alegreya_Sans/AlegreyaSans-LightItalic.ttf),
            url(../../assets/fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf),
            url(../../assets/fonts/Alegreya_Sans/AlegreyaSans-MediumItalic.ttf),
            url(../../assets/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf),
            url(../../assets/fonts/Alegreya_Sans/AlegreyaSans-Thin.ttf)
            url(../../assets/fonts/Alegreya_Sans/AlegreyaSans-ThinItalic.ttf)
            ;
}

@font-face {
    font-family: 'BioRhyme';
    src: url(../../assets/fonts/BioRhyme/BioRhyme-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Cormorant';
    src: url(../../assets/fonts/Cormorant/Cormorant-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    color: #000;
    font-family: "BioRhyme", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

:root {
    --color-primary: #025492;
    --color-secondary: #1b7895;
    --color-tertiary: #f8bf0f;
    --color-quaternary: #000;

    --color-icon-primary: #6c757d;

    --color-bible: #036666;

    --color-border: #ced4da;

    --color-white: #ffffff;
    --color-dark-text: #f8f9fa;
    --color-light-text: #495057;
    --color-default: #0d6efd;
    --color-danger: #dc3545;
    --color-success: #198754;
    --color-warning:  #ffc107;
    --color-info:    #0dcaf0;
    --color-hover: #ccd5ae;
    --color-background: #eeddd3;

    --color-indigo:  #6610f2;
    --color-purple:  #6f42c1;
    --color-pink:    #d63384;
    --color-orange:  #fd7e14;
    --color-teal:    #20c997;

    --input-border-radius: 3px;
}

html {
    font-size: 90.5%;
    overflow-x: hidden;
    background-color: var(--color-background);
    
}

section {
    padding: 4rem 0;
    border-bottom: 1px solid var(--color-secondary);
}

section .head,
section .paragraf {
    margin-bottom: 1rem;
}

section .head {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-secondary);
}

section .paragraf {
}

p {
    text-indent: 50px;
    line-height: 1.8;
    word-spacing: 10px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ------------------------------------------- header ------------------------------------------ */

header {
    /* height: 10vh; */

    /* border: 1px solid red; */

}

#menu {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 1rem;

    width: 120rem;
    margin: 0 auto;
}

#logo {
    margin-left: 1rem;
    margin-right: 5rem;
}

#logo img {
    height: 25rem;
    margin: 0 auto;
    border-radius: 3px;
    background-color: #fff;
    text-align: center;
    align-content: center;
}

.separator {
    width: 100%;
    margin: 3rem 0 1.5rem 0;
    border-bottom: .2rem solid var(--color-border);
}
/* ------------------------------------------- container --------------------------------------- */
.container {
    width: 120rem;
    height: auto;
    margin: 0 auto;
    /* border: 1px solid green; */
}

/* ------------------------------------------- breadcrumb -------------------------------------- */
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    align-items: end;
}

.breadcrumb .breadcrumb-item a {
    font-size: 1rem;
    font-weight: 400;
}

.breadcrumb .breadcrumb-item:not(:last-child) a {
    color: var(--color-secondary);
}
  
.breadcrumb .breadcrumb-item:not(:last-child)::after {
    display: inline-block;
    margin: 0 0.25rem;
    content: "/";
}

/* ------------------------------------------- common ------------------------------------------ */
.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
 
    justify-content: center;
}

/* ------------------------------------------- shadow ------------------------------------------ */
.shadow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 666;
    
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;

    background: rgba(85, 85, 85, .7);
}

.shadow .card {
    border: 1px solid var(--color-box-border);
    border-radius: 5px;
    background-color: #fff;

    font-size: 2rem;

    min-width: 50rem;
    max-width: 75rem;
}

/* ------------------------------------------- error ------------------------------------------- */
#error {
    border: 1px solid var(--color-danger);
    color: var(--color-danger);
    padding: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

/* ------------------------------------------- footer --------------------------------------------- */

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: auto;
    align-content: center;
    font-size: 1.3rem;
    padding: 1rem;
    padding-top: 3rem;
}

footer .copyright {
    align-content: center;
}

footer .compliance {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

footer .compliant:hover,
footer .legal:hover {
    cursor: pointer;
    text-decoration: underline;
}