<ul class="main-menu">
    <li><a href="#">Accueil</a></li>
    <li><a href="#section-thebible">La Bible</a></li>
    <li><a href="#section-otherbibles">versions</a></li>
    <li><a href="#section-communities">commentaires</a></li>
    <li><a href="#section-readings">livres</a></li>
    <li><a href="http://" target="_blank" rel="noopener noreferrer"  id="resources-menu">resources</a>
        <div id="resources-submenu">
            <ul>
                <li class="practice"><a href="/src/pages/pra/">pratique réligieuse</a></li>
                <li class="calendar"><a href="/src/pages/cal/">calendrier lithurgique</a></li>
                <li class="faq"><a href="/src/pages/faq/">FAQ</a></li>
            </ul>
        </div>
    </li>
</ul>
